@charset "utf-8";

.popup-wrap {position:fixed; top:0; bottom:0; left:0; right:0; z-index:9999; display:none;}
.popup {
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
	width:940px;
	padding:0;
	margin:0;
	display:none;
}
.popup h1 .pop_close {border:none;}
/* 제어 */
html.popup-show {overflow:hidden;}
html.popup-show .modal-bg {position:fixed; top:0; bottom:0; left:0; right:0; background-color:#000; opacity:.55; z-index:9998; display:block;}
html.popup-show .popup-wrap.popup-show {display:block; overflow:hidden;}
html.popup-show .popup-wrap.popup-scroll {overflow:auto;}
.popup.popup-show {display:block;}
html.popup-show .popup-wrap.popup-scroll .popup {
	top:0;
	-webkit-transform:translate(-50%,0);
	-moz-transform:translate(-50%,0);
	-o-transform:translate(-50%,0);
	-ms-transform:translate(-50%,0);
	transform:translate(-50%,0);
}
